@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="row text-center align-content-center home">
    <h1 class="display-1">Food Tracker</h1>
    <p class="display-5 mt-3" style="font-family: 'Brush Script MT'; text-shadow: 2px 2px black;">You can easily track the food in your fridge.</p>
</div>
