@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row privacy p-5">
    <div class="col-12 p-sm-5">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <p>We do not sell any information you provided in this application.</p>
    </div>
</div>
